@font-face {
  font-family: "iconfont"; /* Project id 4078839 */
  src: url('iconfont.woff2?t=1686116607527') format('woff2'),
       url('iconfont.woff?t=1686116607527') format('woff'),
       url('iconfont.ttf?t=1686116607527') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sss-comps:before {
  content: "\e730";
}

.sss-time-fill:before {
  content: "\e65e";
}

.sss-user-fill:before {
  content: "\e64d";
}

.sss-tag-fill:before {
  content: "\e86e";
}

.sss-time:before {
  content: "\e8b8";
}

.sss-star:before {
  content: "\e658";
}

.sss-star-fill:before {
  content: "\e709";
}

.sss-star2:before {
  content: "\ea93";
}

.sss-minus:before {
  content: "\eaf5";
}

.sss-plus:before {
  content: "\e6ea";
}

.sss-left-triangle:before {
  content: "\ee39";
}

.sss-top-triangle:before {
  content: "\ee3a";
}

.sss-bottom-triangle:before {
  content: "\ee3b";
}

.sss-right-triangle:before {
  content: "\e701";
}

.sss-up-empty-triangle:before {
  content: "\ee38";
}

.sss-home:before {
  content: "\e63d";
}

.sss-medal:before {
  content: "\e6d1";
}

.sss-option:before {
  content: "\e61c";
}

.sss-logout:before {
  content: "\e613";
}

.sss-title:before {
  content: "\e6e8";
}

.sss-email:before {
  content: "\e908";
}

.sss-upload:before {
  content: "\ec1d";
}

.sss-delete:before {
  content: "\ec7b";
}

.sss-editor:before {
  content: "\ec88";
}

.sss-menu:before {
  content: "\e64f";
}

.sss-lower-empty-triangle:before {
  content: "\e609";
}

.sss-user:before {
  content: "\e648";
}

.sss-file-md:before {
  content: "\e6b4";
}

.sss-upload-2:before {
  content: "\e6f0";
}

.sss-dongtai:before {
  content: "\e610";
}

.sss-cricle-close:before {
  content: "\e712";
}

.sss-eye:before {
  content: "\e62e";
}

.sss-close:before {
  content: "\ee37";
}

.sss-gerenzhongxin-zhihui:before {
  content: "\e61e";
}

.sss-success:before {
  content: "\ee3c";
}

.sss-error:before {
  content: "\ee3d";
}

.sss-warn:before {
  content: "\ee3e";
}

.sss-info:before {
  content: "\ee3f";
}

.sss-loading:before {
  content: "\e78b";
}

