// color
@color-normal: #eeeff1;
@color-main:#db5b6c;
@color-info:#1ba784;
@color-warn:#E6A23C;
@color-error:#e1122a;
@color-black1:#747d8c;
@color-black2: #2f3542;
@color-white1: #7ba2a1;
@color-white2: #a4faf6;
@color-white3: #f5f8f8;
@color-blue:#70a1ff;
@color-gray:#ced6e0;

//font size
@font-size-s:15px;
@font-size-m:20px;
@font-size-l:25px;
@font-height:24px;

